/* ==== Navbar ==== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fff0f6;
  color: #333;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: auto
}

main {
  flex: 1;
}

.navbar {
  background-color: #fff;
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff4081;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff4081;
}

/* ==== Cart Section ==== */
.cart {
  /* height: 100%; */
  padding: 60px 20px;
  text-align: center;
  margin-bottom: 160px;
}

.cart h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #111;
}

.cart-container {
  max-width: 1000px;
  margin: auto;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  background-color: white;
}

.cart-table th,
.cart-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.cart-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  color: #333;
  font-size: 1rem;
}

.cart-table td {
  font-size: 0.95rem;
}

.qty-input {
  width: 60px;
  padding: 6px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.remove-btn {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  background-color: #cc0000;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
}

.cart-total h3 {
  font-size: 1.5rem;
  color: #111;
}

.checkout-btn {
  background-color: transparent;
  border: 2px solid #ff3e6c;
  color: #ff3e6c;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.checkout-btn a{
  color: #ff4081;
  text-decoration: none;
}

.checkout-btn:hover {
  background-color: #ff4081;
  color: white;
}

/* ==== Footer ==== */
footer {
  text-align: center;
  padding: 25px;
  background-color: #111;
  color: #fff;
  font-size: 0.9rem;
  margin-top: 60px;
}