/* Product Page - Shop */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    
  }
  
  body {
    background-color: #fff0f6;
    color: #333;
    display: flex;
  flex-direction: column;
  }
  html,body{
    height: 100%
  }
  main{
    flex: 1;
  }
  
  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff4081;
  border-color: #ff3e6c;

}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ff3e6c;
}

.shop {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff0f6;
  }
  
  .shop h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #111;
  }
  
  /* Filters */
  .filters {
    margin-bottom: 40px;
  }
  
  .filters select {
    padding: 12px 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  .filters select:hover {
    border-color: #ff4081;
  }
  
  /* Product Grid */
  .product-grid {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    /* max-width: 1100px; */
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  /* Product Card */
  .product-card {
    width: 400px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-bottom: 20px;
  }
  
  .product-card img {
    width: 100%;
    height: 320px;
    /* object-fit: contain; */
    border-bottom: 1px solid #eee;
    background-size: cover;
  }
  
  .product-card h3 {
    font-size: 1.1rem;
    margin-top: 15px;
    color: #333;
  }
  
  .product-card p {
    font-weight: bold;
    color: #ff4081;
    margin: 10px 0;
  }
  
  /* Add to Cart Button */
  .product-card .btn {
    background-color: transparent;
    border: 2px solid #ff3e6c;
    color: #ff3e6c;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .product-card .btn:hover {
    background-color: #ff4081;
    color: white;
  }
  
  .product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
  
  /* Footer */
  footer {
    background-color: #111;
    color: #ccc;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
  }